/* Basic Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 1rem;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* DOM Style */

/* layout basic style */

.layout {
    background-color: white;
}

/* Header Style */

.header {
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.3);

}

.header-logo {
    height: 150px;
    width: 150px;
    margin: 0.5rem;
    zoom: 150%;
}

.header-text {
    font-size: 40px;
    font-weight: 100;
    margin-left: 5rem;
}

/* navigation style */

.nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nav-items {
    text-decoration: none;
    color: gray;
}

/* breaking news section style */

.bnews-wrapper {
    display: flex;
    justify-content: stretch;
}

.bnews {
    display: flex;
    align-items: flex-end;
    background-image: url(images/dog.jpg);
    background-position: 0% 50%;
    background-size: cover;
    height: 100vh;
}

.bnews-container {
    background-color: aliceblue;
    color: darkgray;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2px;
    margin-right: 2px;
}

.bnews-heading {
    font-size: 3rem;
    font-weight: bolder;
}

.bnews-text {
    font-size: 1.5rem;
}

.weather-toggle {
    display: none;
}

/* top news style */

.tnews {
    line-height: 4;
    color: gray;
}

.tnews-heading {
    line-height: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.tnews-head {
    font-size: 1.5rem;
}

.tnews-more {
    font-size: inherit;
}

.tnews-text {
    list-style: none;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.tnews-text::before {
    content: ">>";
    padding-right: 5px;
}

/* scoreboard style */

.scoreboard {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scores {
    width: 100%;
    line-height: 2.5;
}

.row-first {
    padding-left: 2rem;
}

.row-heading {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 100;
}

.row-all {
    color: rgba(0, 0, 0, 0.8);
}

.row-data {
    text-align: center;
}

.row-data span {
    padding-left: 1.5rem;
}

/* weather section style */

.weather {
    width: 100%;
    padding-bottom: 2rem;
}

.weather img {
    zoom: 200%;
}

.weather-heading {
    line-height: 1.5;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.weather-heading span {
    font-size: 1.5rem;
    font-weight: 100;
}

.weather-today {
    display: flex;
    padding-left: 5rem;
    padding-bottom: 1rem;
}

.weather-today h4 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 2rem;
}

.weather-forcast {
    display: flex;
    justify-content: space-around;
}

.weather-week {
    text-align: center;
}


/* latest news section style */

.lnews {
    color: gray;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
}

.lnews-row {
    display: flex;
    margin-top: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.lnews-icon img {
    height: 20vh;
}

.lnews-text h3 {
    font-weight: bold;
}

/* footer style */

footer {
    box-shadow: 0px 20px 10px -10px rgba(0, 0, 0, 0.3);
}

.footer-space {
    margin-bottom: 20rem;
}

.nav-footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 1rem;
    width: 60%;
}


/* making responsive style ipad 768px */

@media only screen and (max-width: 800px) {


    /* Header Style */



    .header-logo {
        height: 150px;
        width: 150px;
        margin: 0.1rem;
        zoom: 100%;
    }

    .header-text {
        font-size: 25px;
        font-weight: 100;
        margin-left: 3rem;
    }

    /* navigation style */

    .nav {
        margin-top: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* breaking news section style */

    .bnews-wrapper {
        display: flex;
        justify-content: left;
    }

    .bnews {
        height: 25vh;
        width: 60%;
    }

    .bnews-container {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    .bnews-heading {
        font-size: 1rem;
        font-weight: bolder;
    }

    .bnews-text {
        font-size: 0.5rem;
    }



    /* weather section style */

    .weather-toggle {
        display: flex;
        flex-direction: column;
    }

    .weather {
        width: 40%;
        padding-bottom: 2rem;
    }

    .weather img {
        zoom: 50%;
    }

    .weather-heading {
        line-height: 1;
        padding-left: 1px;
        padding-bottom: 1px;
    }

    .weather-heading span {
        font-size: 1rem;
    }

    .weather-today {
        padding-left: 1px;
        padding-bottom: 1px;
    }

    .weather-today h4 {
        font-size: 0.5rem;
        padding-top: 1px;
    }


    /* top news style */


    /* scoreboard style */



    .scores {
        line-height: 2;
    }


    .row-heading {
        color: white;
        background-color: lightslategray;
    }

    .odd {
        background-color: gainsboro;
    }

    .even {
        background-color: darkgray;
    }

    /* hide weather */

    .weather-none {
        display: none;
    }



    /* latest news section style */

    .lnews {
        color: gray;
        margin-bottom: 1rem;
    }

    .lnews-row {
        margin-top: 0.5rem;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    .lnews-icon img {
        height: 15vh;
        width: 50vw;
    }



    /* footer style */


}



/* making responsive style iphone 414px */

@media only screen and (max-width: 450px) {

    .header {
        box-shadow: none;
    }

    .header-logo {
        height: 70px;
        width: 70px;
        margin: 1px;
        zoom: 100%;
    }

    .header-text {
        font-size: 15px;
        margin-left: 0.5rem;
    }

    /* navigation style */

    .nav {
        display: none;
    }

    
    /* breaking news section style */

    

    .bnews {
        height: 50vh;
        width: 100vw;
    }

    .bnews-container {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding-top: 1px;
        padding-bottom: 1px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .bnews-heading {
        font-size: 16px;
    }

    .bnews-text {
        font-size: 10px;
    }

    .weather-toggle {
        display: none;
    }

    /* top news style */

    .tnews {
        line-height: 2;
        color: gray;
    }

    .tnews-heading {
        line-height: 2.5;
    }

    .tnews-head {
        font-size: 1rem;
    }

    .tnews-more {
        font-size: inherit;
    }

    /* weather visible */

    .weather-none {
        display: block;
    }

    .weather {
        width: 100%;
    }

    .weather img {
        zoom: 50%;
    }

    /* latest news section style */

    .lnews {
        color: gray;
        margin-bottom: 1rem;
    }

    .lnews-row {
        margin-top: 0;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }

    .lnews-icon img {
        height: 10vh;
        width: 100vw;
    }

    /* footer style */

    .nav-footer {
        width: 80%;
    }
    
}