/* Basic Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 1rem;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* DOM Style */
/* Header Style */

.header {
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 10px -10px rgba(0,0,0,0.3);

}

.header-logo {
    height: 150px;
    width: 150px;
    margin: 0.5rem;
    zoom: 150%;
}

.header-text {
    font-size: 60px;
    font-weight: 100;
    margin-left: 5rem;
}

/* navigation style */

.nav {
    display: flex;
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.nav-items {
    flex-grow: 1;
    text-decoration: none;
    color: gray;
}

/* breaking news section style */

.bnews {
    display: flex;
    align-items: flex-end;
    background-image: url(images/dog.jpg);
    background-position: 0% 50%;
    background-size: cover;
    height: 100vh;
}

.bnews-container {
    background-color: aliceblue;
    color: darkgray;
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bnews-heading {
    font-size: 3rem;
    font-weight: bolder;
}

.bnews-text {
    font-size: 1.5rem;
}