/* Basic Reset */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 1rem;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* DOM Style */
/* Header Style */

.header {
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 10px -10px rgba(0,0,0,0.3);

}

.header-logo {
    height: 150px;
    width: 150px;
    margin: 0.5rem;
    zoom: 150%;
}

.header-text {
    font-size: 60px;
    font-weight: 100;
    margin-left: 5rem;
}